@use "@/assets/styles/variables" as *;

.btn {
  padding: $size8;
  border-radius: $size4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $size8;
  transition: background 0.25s ease-in-out;

  &--primary {
    background: transparent;

    &:hover {
      background: $neutral-95;
    }
  }

  &--secondary {
  }

  &--user {
    background: $lightblue-react;

    &:hover {
      background: $lightblue-75;
    }
  }

  &--small {
    padding: $size4;
    font-size: 12px;
    gap: $size4;
  }

  &--medium {
    padding: $size8;
    font-size: 14px;
    gap: $size8;
  }

  &--large {
    padding: $size12;
    font-size: 16px;
    gap: $size12;
  }

  &__icon {
    width: 20px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 100%;
      height: auto;
      fill: $neutral-05;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 400;
    color: $neutral-05;
  }
}
