@use "@/styles/variables" as *;

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  background-color: $lightblue-95;
  border: 2px solid $lightblue-85;
  transition: background-color 0.25s ease, box-shadow 0.25s ease;

  &__icon {
    width: 24px;
    height: 24px;
    svg {
      fill: $gray-25;
    }
  }

  &__text {
    font-size: 16px;
    color: $lightblue-react;
  }

  &:hover,
  &--active {
    background-color: $lightblue-90;
    box-shadow: 0 0 8px rgba($black, 0.1);
  }

  &--no-icon &__text {
    padding-left: 8px;
  }
}
