@use "@/assets/styles/variables" as *;

.menu {
  width: 240px;
  background: $white;
  transition: width 0.25s ease-in-out;
  overflow-x: hidden;
  padding-block: 40px;
  @include menu-shadow;

  &--closed {
    width: 0px;
  }

  
}
