.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100dvh;

  &__container {
    height: 100%;

    .container__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 100%;

      &--center {
        justify-content: center;
      }
    }
  }
}

#root {
  display: grid;
  grid-template-columns: calc(240px + 16px) 1fr;
}
