@import "./variables";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  background-color: $white;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.1);

  &__container {
    .container__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    font-size: 1.25rem;
    font-weight: 600;
    color: $gray-10;
    transition: color 0.25s ease;

    &:hover {
      color: $lightblue-react;
    }
  }

  &__links-list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__list-item {
    position: relative;

    &--active {
      .nav__link {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__item-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__link {
    font-size: 16px;
    font-weight: 400;
    color: $gray-10;
    transition: color 0.25s ease, width 0.25s ease;
    position: relative;

    &::after {
      content: "";
      height: 1px;
      width: 0;
      background-color: $lightblue-react;
      position: absolute;
      bottom: -2px;
      left: 0;
      transition: width 0.25s ease-in-out;
    }

    &:hover {
      color: $lightblue-react;
    }
  }

  &__dropdown {
    &-button {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      border: 1px solid $lightblue-react;
      background-color: $white;
      color: $lightblue-react;
      transition: background-color 0.25s ease, color 0.25s ease;

      &-icon {
        width: 100%;
        fill: $lightblue-react;
        transform-origin: center;
        transition: transform 0.25s ease, fill 0.25s ease;
      }

      &--active {
        background-color: $lightblue-react;
        color: $white;
        box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.1);

        .nav__dropdown-button-icon {
          fill: $white;
          transform: rotate(180deg);
        }
      }
    }

    &-links-list {
      position: absolute;
      padding: 12px 16px 16px;
      list-style: none;
      background-color: $white;
      border-radius: 0 0 8px 8px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.25s ease, visibility 0.25s ease;
      top: calc(100% + $size16);
      min-width: calc(100% + (16px * 2));
      left: -16px;
      box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.1);

      &--active {
        opacity: 1;
        visibility: visible;
      }
    }

    &-list-item {
      margin-bottom: 12px;
      white-space: nowrap;
      font-size: 14px;

      &:last-child {
        margin-bottom: 0;
      }

      &--active {
        .nav__dropdown-link {
          &::after {
            width: 100%;
          }
        }
      }
    }

    &-item-wrapper {
    }

    &-link {
      position: relative;
      font-size: 14px;

      &::after {
        content: "";
        height: 1px;
        width: 0;
        background-color: $lightblue-react;
        position: absolute;
        bottom: -2px;
        left: 0;
        transition: width 0.25s ease-in-out;
      }

      &:hover {
        color: $lightblue-react;
      }
    }
  }
}
