*,
html,
body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

html {
  font-size: 16px;
}

a,
button {
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: initial;
}
