@use '@/styles/sizes';
@use '@/styles/containers';

.container {
  container-type: inline-size;
  width: 100%;

  &__content {
    width: 100%;
    margin: 0 auto;
    max-width: containers.$container-xxl;
    padding-inline: sizes.$size48;
    padding-block: sizes.$size16;
    min-width: 188px;
  }
}

@container (max-width: 1920px) {
  .container {
    &__content {
      max-width: containers.$container-xxl;
      padding-inline: sizes.$size48;
    }
  }
}

@container (max-width: 1440px) {
  .container {
    &__content {
      max-width: containers.$container-xl;
      padding-inline: sizes.$size40;
    }
  }
}

@container (max-width: 1280px) {
  .container {
    &__content {
      max-width: containers.$container-l;
      padding-inline: sizes.$size32;
    }
  }
}

@container (max-width: 992px) {
  .container {
    &__content {
      max-width: containers.$container-m;
      padding-inline: sizes.$size28;
    }
  }
}

@container (max-width: 768px) {
  .container {
    &__content {
      max-width: containers.$container-s;
      padding-inline: sizes.$size20;
    }
  }
}

@container (max-width: 576px) {
  .container {
    &__content {
      max-width: containers.$container-xs;
      padding-inline: sizes.$size16;
    }
  }
}

@container (max-width: 320px) {
  .container {
    &__content {
      max-width: containers.$container-xxs;
      padding-inline: sizes.$size12;
    }
  }
}
