$size4: 4px;
$size8: 8px;
$size12: 12px;
$size16: 16px;
$size20: 20px;
$size24: 24px;
$size28: 28px;
$size32: 32px;
$size36: 36px;
$size40: 40px;
$size44: 44px;
$size48: 48px;
$size52: 52px;
$size56: 56px;
$size60: 60px;
$size64: 64px;
$size68: 68px;
$size72: 72px;
$size76: 76px;
$size80: 80px;
$size84: 84px;
$size88: 88px;
$size92: 92px;
$size96: 96px;