@use "@/assets/styles/variables" as *;

.modal {
  position: absolute;
  width: 100%;
  background: $white;
  padding: 24px 0;
  border-radius: 16px;
  @include modal-shadow;
  opacity: 0; // Inicialmente escondida
  pointer-events: none;
  transform: translateY(-10px); // Adiciona um pequeno deslocamento
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;

  &--primary {
  }

  &--secondary {
  }

  &--small {
    @include max-width-small;
  }

  &--medium {
    @include max-width-medium;
  }

  &--large {
    @include max-width-large;
  }

  &--open {
    opacity: 1; // Visível quando aberta
    pointer-events: inherit;
    transform: translateY(0); // Remove o deslocamento
  }
}
