@import "../tokens/size";
@import "../tokens/container";

.container {
  container-type: inline-size;
  width: 100%;

  &__content {
    width: 100%;
    margin: 0 auto;
    max-width: $container-xxl;
    padding-inline: $size48;
    padding-block: $size16;
    min-width: 188px;
  }
}

@container (max-width: 1920px) {
  .container {
    &__content {
      max-width: $container-xxl;
      padding-inline: $size48;
    }
  }
}

@container (max-width: 1440px) {
  .container {
    &__content {
      max-width: $container-xl;
      padding-inline: $size40;
    }
  }
}

@container (max-width: 1280px) {
  .container {
    &__content {
      max-width: $container-l;
      padding-inline: $size32;
    }
  }
}

@container (max-width: 992px) {
  .container {
    &__content {
      max-width: $container-m;
      padding-inline: $size28;
    }
  }
}

@container (max-width: 768px) {
  .container {
    &__content {
      max-width: $container-s;
      padding-inline: $size20;
    }
  }
}

@container (max-width: 576px) {
  .container {
    &__content {
      max-width: $container-xs;
      padding-inline: $size16;
    }
  }
}

@container (max-width: 320px) {
  .container {
    &__content {
      max-width: $container-xxs;
      padding-inline: $size12;
    }
  }
}
