@use "@/assets/styles/variables" as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background: $white;
    box-shadow: 0 4px 12px 0 rgba($neutral-50, 0.05);
    position: relative;
    z-index: 1;

    &__column {
        display: flex;
        align-items: center;
        width: 100%;

        &--left {
            justify-content: flex-start;
            gap: 16px;
        }

        &--center {
            justify-content: center;
        }

        &--right {
            justify-content: flex-end;
        }
    }

    &__link {
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        color: $neutral-05;
        text-decoration: none;
        transition: color 0.25s ease-in-out;

        &:hover {
            color: $neutral-15;
        }
    }
}