.container-config {
  width: 100%;
  position: relative;
}
.container-config .resizeble-box {
  position: relative;
  border: 1px solid hsl(0, 0%, 50%);
  display: grid;
  place-items: center;
  margin: auto;
  padding: 16px 12px;
  min-width: 212px;
  min-height: 166px;
  max-width: 100%;
  max-height: 100%;
  resize: both;
  overflow: auto;
}
.container-config .resizeble-box__container {
  position: relative;
}
.container-config .resizeble-box__container::before {
  position: absolute;
  top: -12px;
  left: 48px;
  content: "container";
  line-height: 1;
  font-size: 10px;
  color: hsl(0, 0%, 50%);
}
.container-config .resizeble-box__container .container__content {
  border: 1px dashed hsl(0, 0%, 50%);
}
.container-config .resizeble-box__container .container__content p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.5;
}
.container-config .button {
  background-color: red;
  color: white;
  padding: 4px 8px;
}

@container (max-width: 1920px) {
  .container-config .resizeble-box__container::before {
    left: 48px;
  }
}
@container (max-width: 1440px) {
  .container-config .resizeble-box__container::before {
    left: 40px;
  }
}
@container (max-width: 1280px) {
  .container-config .resizeble-box__container::before {
    left: 32px;
  }
}
@container (max-width: 992px) {
  .container-config .resizeble-box__container::before {
    left: 28px;
  }
}
@container (max-width: 768px) {
  .container-config .resizeble-box__container::before {
    left: 20px;
  }
}
@container (max-width: 576px) {
  .container-config .resizeble-box__container::before {
    left: 16px;
  }
}
@container (max-width: 320px) {
  .container-config .resizeble-box__container::before {
    left: 12px;
  }
}