.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  height: 100vh;
  padding-right: 16px;
}
.nav .container {
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  -webkit-box-shadow: 4px 0px 8px -4px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 0px 8px -4px rgba(0, 0, 0, 0.1);
}
.nav .container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 44px 16px;
}
.nav__button-minimize {
  position: absolute;
  right: -32px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px;
  background-color: hsl(193, 95%, 95%);
  -webkit-transition: background-color 0.25s ease, color 0.25s ease;
  transition: background-color 0.25s ease, color 0.25s ease;
}
.nav__button-minimize-icon {
  width: 100%;
  fill: hsl(193, 95%, 68%);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: fill 0.25s ease, -webkit-transform 0.25s ease;
  transition: fill 0.25s ease, -webkit-transform 0.25s ease;
  transition: transform 0.25s ease, fill 0.25s ease;
  transition: transform 0.25s ease, fill 0.25s ease, -webkit-transform 0.25s ease;
}
.nav__button-minimize--open .nav__button-minimize-icon {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.nav__wrapper-logo {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.nav__logo {
  font-size: 18px;
  font-weight: 700;
  color: hsl(0, 0%, 10%);
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
  display: block;
  white-space: nowrap;
}
.nav__logo:hover {
  color: hsl(193, 95%, 68%);
}
.nav__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.nav__list-item {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.nav__list-item--active .nav__link::after {
  width: 100%;
}
.nav__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
  width: 100%;
  min-height: 40px;
}
.nav__link {
  font-size: 14px;
  font-weight: 500;
  color: hsl(0, 0%, 10%);
  -webkit-transition: color 0.25s ease, width 0.25s ease;
  transition: color 0.25s ease, width 0.25s ease;
  position: relative;
}
.nav__link::after {
  content: "";
  height: 1px;
  width: 0;
  background-color: hsl(193, 95%, 68%);
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}
.nav__link:hover {
  color: hsl(193, 95%, 68%);
}
.nav__dropdown-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
  border: 1px solid hsl(193, 95%, 68%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(193, 95%, 68%);
  -webkit-transition: background-color 0.25s ease, color 0.25s ease;
  transition: background-color 0.25s ease, color 0.25s ease;
}
.nav__dropdown-button-icon {
  width: 100%;
  fill: hsl(193, 95%, 68%);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: fill 0.25s ease, -webkit-transform 0.25s ease;
  transition: fill 0.25s ease, -webkit-transform 0.25s ease;
  transition: transform 0.25s ease, fill 0.25s ease;
  transition: transform 0.25s ease, fill 0.25s ease, -webkit-transform 0.25s ease;
}
.nav__dropdown-button--active {
  background-color: hsl(193, 95%, 68%);
  color: hsl(0, 0%, 100%);
  -webkit-box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.1);
}
.nav__dropdown-button--active .nav__dropdown-button-icon {
  fill: hsl(0, 0%, 100%);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.nav__dropdown-links-list {
  width: 100%;
  position: relative;
  list-style: none;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0 0 8px 8px;
  padding: 8px 16px 16px;
  -webkit-transition: opacity 0.25s ease, visibility 0.25s ease;
  transition: opacity 0.25s ease, visibility 0.25s ease;
  display: none;
}
.nav__dropdown-links-list--active {
  display: block;
}
.nav__dropdown-list-item {
  margin-bottom: 8px;
  white-space: nowrap;
  font-size: 14px;
}
.nav__dropdown-list-item:last-child {
  margin-bottom: 0;
}
.nav__dropdown-list-item--active .nav__dropdown-link::after {
  width: 100%;
}
.nav__dropdown-link {
  position: relative;
  font-size: 14px;
}
.nav__dropdown-link::after {
  content: "";
  height: 1px;
  width: 0;
  background-color: hsl(193, 95%, 68%);
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}
.nav__dropdown-link:hover {
  color: hsl(193, 95%, 68%);
}