.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
}
.Navbar .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Navbar .container .content .logo {
  font-size: 1.25rem;
  font-weight: 600;
  color: hsl(0, 0%, 10%);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.Navbar .container .content .logo:hover {
  color: hsl(193, 95%, 68%);
}
.Navbar .container .content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.Navbar .container .content .links .link {
  position: relative;
}
.Navbar .container .content .links .link a {
  font-size: 0.85rem;
  font-weight: 400;
  color: hsl(0, 0%, 10%);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.Navbar .container .content .links .link a:hover {
  color: hsl(193, 95%, 68%);
}
.Navbar .container .content .links .link::after {
  content: "";
  height: 1px;
  width: 0%;
  background-color: hsl(193, 95%, 68%);
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}
.Navbar .container .content .links .link.active::after {
  width: 100%;
}