@use "@/styles/variables" as *;

.search {
    border: 1px solid $neutral-90;
    border-radius: $size40;
    display: flex;
    flex-direction: row;
    padding-inline: $size8;
    height: $size40;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    @include max-width-medium;
    gap: $size4;

    &__icon {
        fill: $neutral-85;

        &-container {
            padding: $size4;
            flex: 0 0 auto;
        }
    }

    &__input {
        font-size: 14px;
        line-height: 1;
        width: 100%;
        outline: none;
        cursor: text;

        &::placeholder {
            color: $neutral-50;
            font-size: $size12;
            line-height: 1;
            font-weight: 500;
        }
    }

    &__clear {
        fill: $neutral-50;
    }
}

#modal-search {
  top: calc($size36 + $size16 + $size16);
  left: 50%;
  transform: translateX(-50%);
}