@use "@/styles/variables" as *;

.landing-page {
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;

  .container {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100dvh;

      .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 24px;

        a {
          font-weight: 500;
          color: #646cff;
          text-decoration: inherit;
        }

        a:hover {
          color: #747bff;
        }

        .logo {
          height: 124px;
          padding: 16px;
          will-change: filter;
          transition: filter 300ms;

          &.react {
            animation: logo-spin infinite 20s linear;
          }

          &.vite:hover {
            filter: drop-shadow(0 0 2em hsla(237, 100%, 70%, 0.7));
          }

          &.react:hover {
            filter: drop-shadow(0 0 2em hsla(193, 95%, 65%, 0.7));
          }
        }
      }

      .title {
        font-size: 48px;
        line-height: 1.2;
        text-align: center;
        font-weight: 700;
        

        span {
          display: block;
        }

        &__name {
        }

        &__subtitle {
          margin-top: 4px;
          font-size: 24px;
        }
      }

      .author {
        margin-top: 16px;
        font-size: 18px;  
        font-weight: 600;      
        
      }

      .read-the-docs {
        color: #888;
        font-size: 12px;
        font-weight: 500;
        
      }
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
