@import "../variables";

.design-system {

      &__img {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        display: block;
        margin-bottom: 72px;
      }

      &__info {
        &-subtitle {
          margin-top: 0;
          font-size: 24px;
          margin-bottom: 4px;
        }

        &-prompt {
          color: $gray-50;
          font-size: 14px;
          margin-bottom: 24px;

          &::before {
            content: "Prompt: ";
          }
        }

        &-description {
          font-size: 18px;
          line-height: 1.4;
          margin-bottom: 16px;
        }

        &-list {
          li {
            line-height: 1.4;
            font-size: 18px;

            strong {
              &.orange,
              &.purple,
              &.cyan,
              &.pink {
                padding: 4px 8px;
                border-radius: 4px;
                color: $white;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
              }

              &.orange {
                background-color: #fe9d00;
              }
              &.purple {
                background-color: #783ad7;
              }
              &.cyan {
                background-color: #15c8bd;
              }
              &.pink {
                background-color: #ff007f;
              }
            }

            ul {
              li {
                font-weight: 400;

                &:first-child {
                  margin-top: 8px;
                  margin-bottom: 8px;
                }
                &:last-child {
                  margin-bottom: 16px;
                }
              }
            }
          }
        }
      }
    }