@use "@/styles/fonts" as *;

body {
    font-family: $font-montserrat;
}

.main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 68px);

    & > section {
        flex: 1;
        overflow: auto;
    }
}