@use "./styles/variables" as *;

* {
  font-family: $font-montserrat;
}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100dvh;
  flex: 0 1 auto;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
