$lightblue-01: hsl(193, 95%, 1%);
$lightblue-05: hsl(193, 95%, 5%);
$lightblue-10: hsl(193, 95%, 10%);
$lightblue-15: hsl(193, 95%, 15%);
$lightblue-20: hsl(193, 95%, 20%);
$lightblue-25: hsl(193, 95%, 25%);
$lightblue-30: hsl(193, 95%, 30%);
$lightblue-35: hsl(193, 95%, 35%);
$lightblue-40: hsl(193, 95%, 40%);
$lightblue-45: hsl(193, 95%, 45%);
$lightblue-50: hsl(193, 95%, 50%);
$lightblue-55: hsl(193, 95%, 55%);
$lightblue-60: hsl(193, 95%, 60%);
$lightblue-65: hsl(193, 95%, 65%);
$lightblue-react: hsl(193, 95%, 68%);
$lightblue-70: hsl(193, 95%, 70%);
$lightblue-75: hsl(193, 95%, 75%);
$lightblue-80: hsl(193, 95%, 80%);
$lightblue-85: hsl(193, 95%, 85%);
$lightblue-90: hsl(193, 95%, 90%);
$lightblue-95: hsl(193, 95%, 95%);
$lightblue-99: hsl(193, 95%, 99%);

$gray-01: hsl(0, 0%, 1%);
$gray-05: hsl(0, 0%, 5%);
$gray-10: hsl(0, 0%, 10%);
$gray-15: hsl(0, 0%, 15%);
$gray-20: hsl(0, 0%, 20%);
$gray-25: hsl(0, 0%, 25%);
$gray-30: hsl(0, 0%, 30%);
$gray-35: hsl(0, 0%, 35%);
$gray-40: hsl(0, 0%, 40%);
$gray-45: hsl(0, 0%, 45%);
$gray-50: hsl(0, 0%, 50%);
$gray-55: hsl(0, 0%, 55%);
$gray-60: hsl(0, 0%, 60%);
$gray-65: hsl(0, 0%, 65%);
$gray-70: hsl(0, 0%, 70%);
$gray-75: hsl(0, 0%, 75%);
$gray-80: hsl(0, 0%, 80%);
$gray-85: hsl(0, 0%, 85%);
$gray-90: hsl(0, 0%, 90%);
$gray-95: hsl(0, 0%, 95%);
$gray-99: hsl(0, 0%, 99%);

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);