$lightblue-01: hsl(193, 95%, 1%);
$lightblue-05: hsl(193, 95%, 5%);
$lightblue-10: hsl(193, 95%, 10%);
$lightblue-15: hsl(193, 95%, 15%);
$lightblue-20: hsl(193, 95%, 20%);
$lightblue-25: hsl(193, 95%, 25%);
$lightblue-30: hsl(193, 95%, 30%);
$lightblue-35: hsl(193, 95%, 35%);
$lightblue-40: hsl(193, 95%, 40%);
$lightblue-45: hsl(193, 95%, 45%);
$lightblue-50: hsl(193, 95%, 50%);
$lightblue-55: hsl(193, 95%, 55%);
$lightblue-60: hsl(193, 95%, 60%);
$lightblue-65: hsl(193, 95%, 65%);
$lightblue-react: hsl(193, 95%, 68%);
$lightblue-70: hsl(193, 95%, 70%);
$lightblue-75: hsl(193, 95%, 75%);
$lightblue-80: hsl(193, 95%, 80%);
$lightblue-85: hsl(193, 95%, 85%);
$lightblue-90: hsl(193, 95%, 90%);
$lightblue-95: hsl(193, 95%, 95%);
$lightblue-99: hsl(193, 95%, 99%);

$neutral-01: hsl(0, 0%, 1%);
$neutral-05: hsl(0, 0%, 5%);
$neutral-10: hsl(0, 0%, 10%);
$neutral-15: hsl(0, 0%, 15%);
$neutral-20: hsl(0, 0%, 20%);
$neutral-25: hsl(0, 0%, 25%);
$neutral-30: hsl(0, 0%, 30%);
$neutral-35: hsl(0, 0%, 35%);
$neutral-40: hsl(0, 0%, 40%);
$neutral-45: hsl(0, 0%, 45%);
$neutral-50: hsl(0, 0%, 50%);
$neutral-55: hsl(0, 0%, 55%);
$neutral-60: hsl(0, 0%, 60%);
$neutral-65: hsl(0, 0%, 65%);
$neutral-70: hsl(0, 0%, 70%);
$neutral-75: hsl(0, 0%, 75%);
$neutral-80: hsl(0, 0%, 80%);
$neutral-85: hsl(0, 0%, 85%);
$neutral-90: hsl(0, 0%, 90%);
$neutral-95: hsl(0, 0%, 95%);
$neutral-99: hsl(0, 0%, 99%);

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);