@import "../../tokens/color";
@import "../../tokens/typography";

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: fit-content;
  height: auto;
  padding: 8px 12px 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
  // style
  background-color: $lightblue-95;
  border: 2px solid $lightblue-85;
  box-shadow: 0 0px 8px -4px rgba($black, 0.1);

  &__icon {
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;
    transform-origin: center;
    transition: all 0.5s ease;

    svg {
      fill: $gray-25;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    color: $lightblue-react;
    white-space: nowrap;
  }

  &--no-text {
    padding: 8px;
  }

  &:hover, &--active {
    background-color: $lightblue-90;
    box-shadow: 0 0px 8px -4px rgba($black, 0.3);
  }
}
