@use "@/assets/styles/variables" as *;

.navigation-list {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-inline: $size12;

  &--primary {
    padding-block: $size16;

    &::before {
      content: "";
      position: absolute;
      left: -12px;
      top: 0;
      width: calc(100% + (12px * 2));
      height: 1px;
      background: $neutral-95;
    }

    &:first-child {
      padding-top: 0;

      &::before {
        display: none;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }

    .navigation-list {
      &__item {
        &:first-child {
          .navigation-list__link {
            padding: 12px 12px 12px 14px;
          }

          .navigation-list__label {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }

      &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        padding: 12px 12px 12px 42px;
        background: transparent;
        border-radius: $size4;
        transition: background 0.25s ease-in-out;

        &:hover,
        &--active {
          background: $neutral-95;
        }

        &--active {
          pointer-events: none;
        }
      }

      &__icon {
        width: 20px;
        flex: 0 0 20px;
      }

      &__label {
        white-space: nowrap;
        font-size: 12px;
        font-weight: 500;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
        overflow: hidden;
      }
    }
  }

  &--search-recent,
  &--search-list {
    .navigation-list {
      &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        padding: 12px 12px 12px 48px;
        background: transparent;
        border-radius: $size4;
        transition: background 0.25s ease-in-out;

        &::before {
          content: "";
          width: 20px;
          height: 20px;
          background: url("/src/assets/media/svg/ic__history.svg") no-repeat
            center;
          background-size: contain;
          pointer-events: none;
          position: absolute;
          left: 16px;
        }

        .btn {
          &__icon {
            fill: $neutral-50;
          }

          &:hover {
            background: $neutral-90;
          }
        }

        &:hover {
          background: $neutral-95;
        }
      }

      &__icon {
        width: 20px;
        flex: 0 0 20px;
      }

      &__label {
        white-space: nowrap;
        font-size: 14px;
        font-weight: 500;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
        overflow: hidden;
      }

      &__remove {
      }
    }
  }

  &--search-list {
    .navigation-list {
      &__link {
        padding: 12px 12px 12px 16px;

        &::before {
          display: none;
        }
      }
    }
  }
}
